# Unreal Engine build artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Platform-specific build folders
Build/Android/
Build/IOS/

# Project files and user settings
*.sdf
*.suo
*.opensdf
*.VC.db
*.VC.opendb
*.user
*.userprefs
*.autosave
*.tmp
*.log
*.dmp
*.ufsc

# Engine-specific temp files
.vscode/
*.xcodeproj
*.xcworkspace

# OS junk
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db
